#OS
.DS_Store

#IDEs

# IntelliJ specific files/directories
.idea
*.ipr
*.iws
*.iml
atlassian-ide-plugin.xml

#XMLEditor
*.*xml~

# Eclipse specific files/directories
.classpath
.project
.factorypath
.settings
.externalToolBuilders
bin/

# NetBeans specific files/directories
.nbattrs
**/nbactions.xml
**/nb-configuration.xml                                                               
**/nbproject/*
nb-configuration.xml


#build
target/

#test output
test-output/
transaction.log
**/transaction.log
infinispan.log

